.shopowner {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shopowner__continer {
  margin: 20px;
  width: 50vw;
  height: 150px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  -moz-box-shadow: 7px 7px 26px -2px rgba(0, 0, 0, 0.72);
  box-shadow: 7px 7px 26px -2px rgba(0, 0, 0, 0.72);
}

.shopowner__text {
  margin-bottom: 20px;
}
.shopowner__text > h4 {
  font-size: 20px;
}
.shopowner__text > h4 > span {
  color: tomato;
}
.shopowner__buttons > button {
  margin-left: 60px;
  color: white;
  background-color: red;
  text-transform: inherit;
}
.shopowner__buttons > button:first-child {
  margin-left: -50px;
  color: white;
  background-color: lightgreen;
}
.shopowner__buttons > button:last-child {
  margin-left: 60px;
  color: white;
  background-color: tomato;
}
.shopowner__buttons > button:hover {
  color: green;
  background-color: white;
}
.shopowner__buttons > button:hover {
  color: red;
  background-color: white;
}
